<!DOCTYPE html>
<html lang="zh-CN">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>福音战士標題生成器 - Evangelion Title Card Generator - 神奇海螺实验室</title>
<!--merge:css-->
<link rel="stylesheet" href="document.css">
<!--merge:css-->

<header>
    <h1>福音戰士標題生成器</h1>
    <h2>Evangelion Title Card Generator</h2>
</header>
<h3 class="tip">仅支持桌面端 Chrome 浏览器，Safari、Firefox 下存在严重问题</h3>
<div class="app">
    <section class="layout-list">
        <h2>排版</h2>
        <a class="item" v-for="(_layout,index) in layouts"
            :title="_layout.title"
            :data-checked="layout && layout.id === _layout.id"
            @click.prevent="setLayout(_layout)"
            :href="`/?layout=${encodeURI(_layout.id)}`"
            >
            <img :src="_layout.src" v-if="_layout.src">
        </a>
    </section>
    <template v-if="layout">
        <section class="output-box">
            <h2>输出</h2>
            <canvas ref="canvas" :style="{height:`${config.height}px`}"></canvas>
        </section>
        <section class="layout">
            <!-- <h2>{{layout.title}}</h2> -->
            <h2>文字</h2>
            <div class="inputs-box">
                <div class="input-item" v-for="(input,index) in layout.inputs">
                    <template v-if="input.type==='tab'">
                        <h4>{{input.name}}</h4>
                        <ui-tabs v-model="texts[index]" :options="input.options"></ui-tabs>
                    </template>
                    <template v-else>
                        <input type="text" :placeholder="input.placeholder" v-model.lazy.trim="texts[index]" 
                            :minlength="input.minLength"
                            :maxlength="input.maxLength">
                    </template>
                </div>
                <h3>样例</h3>
                <div class="exemple-list">
                    <div class="exemple-item" 
                        @click="setDefaultTexts(layout)"
                        :d="texts.filter(t=>!t.type).join('')"
                        :data-checked="!texts.filter((t,i)=>!layout.inputs[i].type).join('')">
                        <span v-for="input in layout.inputs">{{input.placeholder}}</span>
                    </div>
                    <div class="exemple-item" 
                        v-for="exemple in layout.exemples" 
                        :data-checked="texts.join(',') === exemple.join(',')"
                        @click="setExemple(exemple)">
                        <span v-for="text in exemple">{{text}}</span>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>选项</h2>
            <div class="config-box">
                <!-- <div class="config-item">
                    <ui-tabs v-model="config.type" :options="types"></ui-tabs>
                </div> -->
                <div class="config-item">
                    <ui-tabs v-model="config.plan" :options="plans"></ui-tabs>
                </div>
                <div class="config-item">
                    <ui-switch v-model="config.blur">模糊</ui-switch>
                    <ui-switch v-model="config.noise">噪点</ui-switch>
                    <!-- <ui-switch v-model="config.inverse">反白</ui-switch> -->
                    <!-- <ui-switch v-model="config.retina">Retina</ui-switch> -->
                    <!-- <ui-switch v-model="config.shadow">边缘模糊</ui-switch> -->
                    <!-- <ui-switch v-model="config.type95">繁体</ui-switch> -->
                    <ui-switch v-model="config.convolute">锐化</ui-switch>
                    <ui-switch v-model="config.type95">Type 95</ui-switch>

                    <!-- <input type="number" v-model.number="config.renderScale" placeholder="renderScale"> -->
                </div>
            </div>
            <!-- <pre>{{config}}</pre>
            <pre>{{texts}}</pre> -->
        </section>
        <section>
            <button @click="save()" data-text="保存标题图"></button>
            <button class="tc" v-if="canTc" @click="tc()" data-text="转繁体"></button>
            <p class="tip">遇到不匹配字型可先尝试转繁体，还不匹配的情况请尝试替换其他文字</p>
            <!-- <p>仅支持桌面端 Chrome 浏览器，Safari、Firefox 下存在严重问题</p> -->
        </section>
    </template>
</div>
<section class="is-chrome">
    <h2>请使用桌面端 Chrome 浏览器</h2>
    <h4 style="padding-top:1。4em;">看看其他网页</h4>
    <p>
        <a href="https://lab.magiconch.com/magi/">👩🏼「MAGI System」 一键决议系统</a>
        <br>
        <a href="https://lab.magiconch.com">神奇海螺实验室</a>
    </p>
</section>
<script src="https://lab.magiconch.com/vue.2.6.11.min.js"></script>
<!--merge:js-->
<script src="transform-func.js"></script>
<script src="ui-tabs.vue.js"></script>
<script src="ui-switch.vue.js"></script>
<script src="layouts.js"></script>
<script src="makebmp.js"></script>
<script src="make.js"></script>
<script src="document2.js"></script>
<!--merge:js-->
<footer>
    <section>
        <h2>MAGI System</h2>
        <a href="https://lab.magiconch.com/magi" target="_blank">lab.magiconch.com/magi/</a>
    </section>
    <section>
        <h2>字体</h2>
        <a href="https://mojimo.jp/eva/" target="_blank">mojimo.jp/eva/</a>
    </section>
    <section>
        <h2>GitHub</h2>
        <a href="https://github.com/itorr/eva-title" target="_blank">github.com/itorr/eva-title</a>
    </section>
    <section>
        <h2>转发微博</h2>
        <a href="https://weibo.com/1197780522/LB5DsoCUF" target="_blank">weibo.com/1197780522/LB5DsoCUF</a>
    </section>
    
    <section>
        <h2>标题参考</h2>
        <a href="https://zh.wikipedia.org/wiki/%E6%96%B0%E4%B8%96%E7%BA%AA%E7%A6%8F%E9%9F%B3%E6%88%98%E5%A3%AB#%E6%94%BE%E6%98%A0%E5%92%8C%E7%99%BC%E8%A1%8C" target="_blank">zh.wikipedia.org/wiki/新世纪福音战士</a>
    </section>
    <section>
        <h2>神奇海螺实验室</h2>
        <a href="https://lab.magiconch.com">lab.magiconch.com</a>
    </section> 
</footer>
<!-- <footer class="ui-footer">
    <a href="https://weibo.com/1197780522/LB5DsoCUF" target="_blank">转发微博</a>
    <a href="https://weibo.com/1197780522" target="_blank">@卜卜口</a>
    <a href="https://github.com/itorr/eva-title" target="_blank">GitHub</a>
    <br>

    <a href="https://mojimo.jp/eva/" target="_blank">字体授权</a>
    <a href="https://zh.wikipedia.org/wiki/%E6%96%B0%E4%B8%96%E7%BA%AA%E7%A6%8F%E9%9F%B3%E6%88%98%E5%A3%AB#%E6%94%BE%E6%98%A0%E5%92%8C%E7%99%BC%E8%A1%8C" target="_blank">标题参考</a>
    <br>
    <a href="https://lab.magiconch.com/magi" target="_blank">MAGI</a>
    <a href="https://lab.magiconch.com">神奇海螺实验室</a>
</footer> -->